.header-background {
    width: 100vw;
    color: #fff;
    // border-radius: 9vw;
    height: 60vw;
    padding: 7vw;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: #fff;
        background-image: url('/background/bg3.png');
        background-size: cover;
        filter: brightness(0.5);
    }

    .icon {
        width: 5vw;
        height: 5vw;
    }


    .header-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .top-nav {
            // padding-top: 8vw;
            display: flex;
            justify-content: space-between;


            .location {
                display: flex;
                align-items: center;
                font-size: 3.2vw;
                letter-spacing: 0.3vw;

                .icon {
                    margin-right: 1.3vw;
                }
            }

            .menu {
                border-radius: 5vw;
                background-color: rgba(255, 255, 255, 0.4);
                padding: 0.8vw;
                width: 18vw;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }

        .slogan {
            font-size: 5vw;
            letter-spacing: 0.5vw;
            margin: 6vw 0;
            color: #fff;
            font-family: "Slogan font";
        }

    }

}