.header-background {
    width: 100vw;
    color: #fff;
    border-radius: 8vw; 
    height: 52w;
    padding: 5vw;
    position: relative;
    overflow: hidden;
    
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: #fff;
        background-image: url('/background/bg_dark.jpg');
        background-size: cover;
        filter: brightness(0.5);
    }

    .header-container {
        position: relative;
        .top-nav {
            margin-top: 5vw;
            display: flex;
            justify-content: space-between;
        }
        
        .slogan {
          font-size: 4.8vw;
          margin-top: 6vw;
          color: #fff;
        }
    
       .input-area  {
            margin-top: 4vw;
        }
        .location {
            display: flex;
            align-items: center;
            font-size: 2.8vw;
            .img {
                margin-right: 1.3vw;
            }
        }
    }

  }
