.component-sample {
    height: 100vh;
    background-image: url("/background/bg2.jps.jpg");
    .nav-bar {
        position: fixed;
        bottom: 3vw;
        left: 3vw;
        right: 3vw;
    }
    .input-area {
        padding: 25vw 6vw;
    
    }
}