/* 
100vw = 750px
1vw = 7.5px

0.533 = 4
1.067 = 8
1.6 = 12
2.133 = 16
2.667 = 20
3.2 = 24
3.73 = 28
4.267 = 32
4.8 = 36
5.33 = 40

*/

h3 {
    font-size: 4.267vw;
    margin-top: 1.6vw;
  }
  
  .home-container {
    width: 100vw;
    font-size: 2.133vw;
    overflow: hidden;
  }
  
  .header {
    width: 100vw;
    background-color: #000;
    color: #fff;
    padding: 1.067vw;
    border-radius: 1.6vw;
  }
  
  .top-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .slogan {
    font-size: 4.8vw;
    margin: 1.6vw 0;
  }
  
  .search-bar {
  }
  
  .search-bar input {
    background: transparent;
    outline: none;
  }
  
  .body-container {
    margin: 0 1.6vw;
  }
  
  .card-container {
    overflow-x: auto;
    /* width: 173.33vw; */
    /* height: 60vw; */
    font-size: 3.73vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .card-container > div {
    margin-right: 2.133vw;
  }
  
  .relvant-card {
    flex: 0 0 auto;
    width: 60vw;
    border-radius: 1.6vw;
    overflow: hidden;
    margin-right: 2.133vw;
  }
  
  .card-img {
    position: relative;
    border-radius: 1.6vw;
    overflow: hidden;
  }
  
  .card-img-controller-wrapper {
    position: absolute;
    top: 1.6vw;
    right: 1.6vw;
  }
  
  .controller-button {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 5.13vw;
    height: 5.13vw;
    padding: 0 0.6vw;
  }
  
  .card-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .discovery-card {
    flex: 0 0 auto;
    width: 40vw;
    height: 20vw;
    border-radius: 1.6vw;
    overflow: hidden;
  }
  