/* 
100vw = 750px
1vw = 7.5px

0.533 = 4
1.067 = 8
1.6 = 12
2.133 = 16
2.667 = 20
3.2 = 24
3.73 = 28
4.267 = 32
4.8 = 36
5.33 = 40

*/

@font-face {
  font-family: "Slogan font";
  src: url("/fonts/douyuFont-2.otf");
}

h3 {
  font-size: 4.267vw;
  margin-top: 1.6vw;
}

.home-container {
  width: 100vw;
  font-size: 2.133vw;
  overflow: auto;
  height: 100vh;
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb;
  padding-bottom: 25vw;

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-bar {
    position: fixed;
    bottom: 3vw;
    left: 3vw;
    right: 3vw;
  }

  .main {
    .container {
      margin-top: 6vw;

      .list {
        overflow-x: auto;
        font-size: 3.73vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 4vw;
        padding: 1vw 6vw;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .title {
        font-family: "Slogan font";
        margin: 0 6vw;
      }
    }
  }
}